 /*BODY*/
 body {
    margin: 0;
    padding: 0;
  }
  
  /*PARRAFO DESCRIPCION*/
  .parrafo-descripcion {
    text-align: justify;
    padding: 0 20px;
    color: $color-primario;
    font-size: larger;
  }
  
  /*TITULO*/
  .titulo {
    font-size: x-large;
    color: $color-primario;
  }
  
  /*  CAROUSEL PAGINA PRINCIPAL  */
  
  /*dispositivos moviles*/
  @media (max-width: 767px) {
    .carousel-item {
      padding: 10px;
    }
      .carousel-item img {
        max-width: 100%;
        height: auto;
        margin: 5px 0;
        margin-bottom: 10px;
    }
}

/*pantallas de escritorio*/
@media (min-width: 768px) {
  .carousel-inner {
      width: 100%;
  }
  .carousel-item {
      display: flex;
      justify-content: space-around; 
      align-items: center;
      padding: 0 10px; 
  }
  .carousel-item .carousel-img-container {
      flex: 1;
      margin: 0 10px; 
      max-width: 30%; 
  }
  .carousel-item img {
      width: 100%;
      height: auto;
      border-radius: 15px;
      margin-bottom: 20px;
  }
  /* Estilos flechas del carrusel */
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 40px; 
      height: 40px; 
  }    
}