  /* FOOTER */
  #footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    background-color: #333;
    color: $color-secundario;
  }
  
  footer {
    bottom: 0;
    left: 0;
    width: 100%;
    position: relative; 
    z-index: 100; 
    clear: both;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center; 
    width: 100%; 
  }
  .footer-columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  
  .footer-section label {
    width: 100%;
    margin-bottom: 1px;
    border-radius: 5px;
  }

  /* Estilos para los campos de entrada */
.footer-section input[type="text"],
.footer-section input[type="email"],
.footer-section textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid $gris-oscuro; 
  border-radius: 5px;
  background-color: $color-tres; 
  color: $color-primario; 
}

.contenido-newsletter label {
  text-align: left;
}

  /* Estilos para el boton de enviar */
.footer-section button[type="submit"] {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: $rosa-suave; 
  color: $color-tres;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Cambio de color al pasar el cursor sobre el boton */
.footer-section button[type="submit"]:hover {
  background-color: lighten($rosa-suave, 10%); 
}
  
.menu-contactos {
  list-style-type: none;
  padding: 0;
  font-size: x-large;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  height: 100%;
  flex-grow: 2;
}
  
.menu-contactos li {
  margin-bottom: 20px;
  text-align: center;
}
  
.home-footer {
  color: $color-secundario;
  background-color: #333;
  text-align: right;
}

.contactanos, .ubicacion-titulo {
    margin-bottom: 20px; 
}

.ubicacion-imagen {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* FOOTER - MEDIA QUERIES PARA DISPOSITIVOS MOVILES */
@media screen and (max-width: 768px) {
    
  #footer {
      flex-direction: column;
      padding: 10px;
      align-items: center; 
      text-align: center;
  }
  
  .footer-columna {
    margin-bottom: 20px;
    text-align: center;
  }

}
  
  /*DERECHOS RESERVADOS*/
.derechos-reservados {
  text-align: center;
  color: $color-secundario;
  background-color: black;
}