    /* NAV */
    .navbar {
      justify-content: flex-end;
      display: flex;
      width: auto;
    }
    
    .navbar-nav {
      max-width: 30vw;
    }
    
    .navbar-nav .nav-link {
      padding: 10px 20px;
      color: $color-secundario;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      width: 100%;
      top: 0;
    }
      
    /* COLOR CURSOR AL PASAR SOBRE BOTONES */
    .navbar-nav .nav-link:hover {
      background-color: #f1f1f1;
    }
    
    /* BOTON ACTIVO */
    .navbar-nav .nav-item.active .nav-link {
      color: #fff;
    }
    
    /* BOTON DESPLEGABLE CUANDO PASO MOUSE POR ENCIMA*/
    .nav-item.dropdown:hover #serviciosDropdown {
        display: block;
      }

    /* Color del texto del menú desplegable */
    .dropdown-menu .dropdown-item {
      color: $gris-oscuro; 
    }

    /* Color de fondo del menú desplegable */
    .dropdown-menu {
      background-color: $rosa-suave;
    }

    /* Color del texto del menú desplegable cuando se pasa el cursor sobre él */
    .dropdown-menu .dropdown-item:hover {
      background-color:$rosa-suave; 
      color: $color-secundario;
    }
