@charset "UTF-8";
header {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  z-index: 1000;
  width: 100%;
}

/* CONTENEDOR HEADER */
.contenedor-header {
  position: relative;
}

/* BOTON LOGO HOME*/
.logo-portada {
  position: absolute;
  z-index: 1001;
  padding: 20px;
}

.logo-boton {
  text-decoration: none;
}

.logo-boton:hover .logo {
  opacity: 0.8;
}

.logo {
  width: 100px;
  height: auto;
  transition: opacity 0.3s ease;
}

/* PORTADA */
.portada {
  position: relative;
  display: flex;
  z-index: 1;
}

/* TEXTO PORTADA */
.texto-portada {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 5em;
}

/*IMG PORTADA*/
.img-portada {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}

/* NAV */
.navbar {
  justify-content: flex-end;
  display: flex;
  width: auto;
}

.navbar-nav {
  max-width: 30vw;
}

.navbar-nav .nav-link {
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
  top: 0;
}

/* COLOR CURSOR AL PASAR SOBRE BOTONES */
.navbar-nav .nav-link:hover {
  background-color: #f1f1f1;
}

/* BOTON ACTIVO */
.navbar-nav .nav-item.active .nav-link {
  color: #fff;
}

/* BOTON DESPLEGABLE CUANDO PASO MOUSE POR ENCIMA*/
.nav-item.dropdown:hover #serviciosDropdown {
  display: block;
}

/* Color del texto del menú desplegable */
.dropdown-menu .dropdown-item {
  color: #333;
}

/* Color de fondo del menú desplegable */
.dropdown-menu {
  background-color: #F49AD5;
}

/* Color del texto del menú desplegable cuando se pasa el cursor sobre él */
.dropdown-menu .dropdown-item:hover {
  background-color: #F49AD5;
  color: white;
}

/*BODY*/
body {
  margin: 0;
  padding: 0;
}

/*PARRAFO DESCRIPCION*/
.parrafo-descripcion {
  text-align: justify;
  padding: 0 20px;
  color: rgb(11, 11, 11);
  font-size: larger;
}

/*TITULO*/
.titulo {
  font-size: x-large;
  color: rgb(11, 11, 11);
}

/*  CAROUSEL PAGINA PRINCIPAL  */
/*dispositivos moviles*/
@media (max-width: 767px) {
  .carousel-item img {
    max-width: 100%;
    height: auto;
  }
}
/*pantallas de escritorio*/
@media (min-width: 768px) {
  .carousel-inner {
    width: 100%;
  }
  .carousel-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
  }
  .carousel-item .carousel-img-container {
    flex: 1;
    margin: 0 10px;
    max-width: 30%;
  }
  .carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
  }
  /* Estilos flechas del carrusel */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 40px;
    height: 40px;
  }
}
/* FOOTER */
#footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  background-color: #333;
  color: white;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  position: relative;
  z-index: 100;
  clear: both;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  width: 100%;
}

.footer-columna {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.footer-section label {
  width: 100%;
  margin-bottom: 1px;
  border-radius: 5px;
}

/* Estilos para los campos de entrada */
.footer-section input[type=text],
.footer-section input[type=email],
.footer-section textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(11, 11, 11);
}

.contenido-newsletter label {
  text-align: left;
}

/* Estilos para el boton de enviar */
.footer-section button[type=submit] {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #F49AD5;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Cambio de color al pasar el cursor sobre el boton */
.footer-section button[type=submit]:hover {
  background-color: #f9c8e8;
}

.menu-contactos {
  list-style-type: none;
  padding: 0;
  font-size: x-large;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex-grow: 2;
}

.menu-contactos li {
  margin-bottom: 20px;
  text-align: center;
}

.home-footer {
  color: white;
  background-color: #333;
  text-align: right;
}

.contactanos, .ubicacion-titulo {
  margin-bottom: 20px;
}

.ubicacion-imagen {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* FOOTER - MEDIA QUERIES PARA DISPOSITIVOS MOVILES */
@media screen and (max-width: 768px) {
  #footer {
    flex-direction: column;
    padding: 10px;
    align-items: center;
    text-align: center;
  }
  .footer-columna {
    margin-bottom: 20px;
    text-align: center;
  }
}
/*DERECHOS RESERVADOS*/
.derechos-reservados {
  text-align: center;
  color: white;
  background-color: black;
}

/*      PAGINA SOBRE MI            */
/*TEXTO + IMAGEN DESCRIPCION SOBRE MI*/
.texto-sobremi {
  font-size: xx-large;
  flex: 1;
  text-align: justify;
  color: rgb(11, 11, 11);
  padding: 30px;
  overflow: hidden;
}

.img-sobremi {
  border-radius: 20px;
  width: 300px;
  margin-right: 20px;
}

.img-sobremi img {
  width: 100%;
  border-radius: 20px;
  float: left;
  margin-right: 20px;
  padding: 10px;
  margin-top: 100px;
}

.img-sobremi2 {
  border-radius: 20px;
  width: 300px;
  margin-right: 20px;
  align-self: flex-end;
}

.img-sobremi2 img {
  max-width: 100%;
  border-radius: 20px;
  padding: 10px;
  height: auto;
  margin-bottom: 100px;
}

.contenedor-sobremi {
  display: flex;
  align-items: stretch;
}

/*dispositivos moviles */
@media only screen and (max-width: 768px) {
  .contenedor-sobremi {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .texto-sobremi {
    font-size: 18px;
    text-align: justify;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 100%;
  }
  .img-sobremi {
    display: none;
  }
  .img-sobremi2 {
    display: none;
  }
}
/*   PAGINA SERVICIOS   */
/* PORTADA SERVICIOS */
.portada-servicios {
  position: relative;
  display: flex;
  z-index: 1;
}

/* TEXTO PORTADA SERVICIOS */
/* Pantalla de escritorio */
.texto-portada {
  font-size: 5rem;
}

/* Dispositivos móviles */
@media (max-width: 768px) {
  .texto-portada {
    font-size: 2rem;
  }
}
/* IMAGEN PORTADA SERVICIOS */
.img-portada-servicios {
  width: 100vw;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

/* TARJETA */
.tarjeta {
  border: 2px solid #ccc;
  border-radius: 20px;
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;
}

/* TARJETAS SERVICIOS */
.tarjetas-servicios {
  margin-top: 30px;
}

/* Dispositivos móviles */
@media only screen and (max-width: 768px) {
  .tarjetas-servicios {
    flex-direction: column;
    align-items: center;
  }
  .tarjeta {
    width: 90%;
  }
}
/* IMAGEN TARJETA */
.imagen-tarjeta {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 2px solid #ccc;
}

/* CUERPO TARJETA */
.cuerpo-tarjeta {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  transition: opacity 0.3s ease;
  opacity: 0;
  overflow: hidden;
}

.tarjeta:hover .cuerpo-tarjeta {
  opacity: 1;
}

/* TITULO TARJETA */
.titulo-tarjeta {
  font-size: x-large;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* TEXTO TARJETA */
.texto-tarjeta {
  font-size: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* BOTON TARJETA */
.boton-tarjeta {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #db73d3;
  color: #fff;
  padding: 10px 0;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  margin-top: 10px;
}

/* CAMBIA DE COLOR CUANDO PASO EL MOUSE */
.boton-tarjeta:hover {
  background-color: #ac0d9e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */